
.vs/*
*/*/bin/*
*/*/obj/*
*/*/appsettings.development.json
tests/Presentation.PaymentApi.Integration.Tests/Properties/launchSettings.json

src/Presentation.PaymentApi/Presentation.PaymentApi.csproj.user
